body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #F0F0F0;
}

::selection {
  background: #2e6da4; /* Safari */
}

::-moz-selection {
  background: #2e6da4; /* Firefox */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

h1 {
  padding-bottom: 20px;
}

#header-container {
  background-color: #233140;
  color: #FFFFFF;
}

#color-grid-container {
  background-color: #FFFFFF;
}

#footer-container {
  background-color: #eef1f8;
}

.section {
  padding: 60px 50px 50px 50px;
}

.color-panel {
  min-height: 180px;
  padding-top: 35px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 0px;
}

.color-box {
  height: 60px;
  width: 60px;
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 50%;
}

.no-margin-top {
  margin-top: 0px;
}