body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #F0F0F0;
}

::selection {
  background: #f81743; /* Safari */
}

::-moz-selection {
  background: #f81743; /* Firefox */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Ubuntu', sans-serif;
}

#header-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#footer-container {
  padding-bottom: 20px;
}

.color-panel {
  min-height: 180px;
  padding-top: 30px;
}

.no-margin-top {
  margin-top: 0px;
}